.footer {
    border-radius: 20px;
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);
    background-color: light-dark(#ffffff, #0f0f0f);
    border: 1px solid light-dark(#e0e0e0, #252525);
    box-shadow: 0 6px 10px light-dark(rgba(150, 150, 150, 0.1), rgba(0, 0, 0, 0.1));
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        top: 0rem;
        left: -26rem;
        width: 40%;
        height: 100%;
        background-image: url('/spotlight.png');
        background-repeat: no-repeat;
        background-size: contain;
        transform: scaleX(-1);
        z-index: 0;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0rem;
        right: -26rem;
        width: 40%;
        height: 100%;
        background-image: url('/spotlight.png');
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 0;
    }
}

.inner {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @media (max-width: $mantine-breakpoint-md) {
        flex-direction: column;
    }
}

.groups {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.wrapper {
    width: rem(160px);
}

.link {
    display: block;
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
    font-size: var(--mantine-font-size-sm);
    padding-top: rem(3px);
    padding-bottom: rem(3px);

    &:hover {
        text-decoration: underline;
    }
}